@using Mogym
@using Mogym.Common
@model Mogym.Application.Records.Question.QuestionRecord
@inject IHttpContextAccessor _accessor;

<section class="content card-custome">
    <div class="row">

        <div class="col-md-12">
            <!-- Default box -->
            <div class="card">
                <div class="card-body row py-5">
                    <fieldset class="row p-3 mb-5">
                        <legend class="float-none w-auto"> نوع برنامه </legend>
                        <div class="form-group col-md-4">
                            <input class="form-control" asp-for="TrainerPlan.GetEnumDescription()" readonly />
                        </div>
                    </fieldset>


                    <fieldset class="row p-3 mb-5">
                        <legend class="float-none w-auto"> اطلاعات شخصی </legend>
                        <div class="form-group col-md-4">
                            <label class="pt-1" for="FirstName">نام</label>
                            <input class="form-control" asp-for="FirstName" readonly />
                        </div>
                        <div class="form-group col-md-4">
                            <label class="pt-1" for="LastName">نام خانوادگی</label>
                            <input class="form-control" asp-for="LastName" readonly />
                        </div>
                        <div class="form-group col-md-4">
                            <label class="pt-1" for="LastName">موبایل</label>
                            <input class="form-control" value="@_accessor.GetCurrentUserMobile()" readonly />
                            <span class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-4">
                            <label class="pt-1" for="Gender">جنسیت</label>
                            <input class="form-control" asp-for="Gender.GetEnumDescription()" readonly />

                        </div>

                        <div class="form-group col-md-4">
                            <label class="pt-1" for="LastName">سن</label>
                            <input class="form-control" asp-for="Age" type="number" readonly />
                        </div>


                    </fieldset>
                    <fieldset class="row p-3 mb-5">
                        <legend class="float-none w-auto"> اطلاعات جسمانی</legend>
                        <div class="form-group col-md-2">
                            <label class="pt-1" for="LastName">قد</label>
                            <input class="form-control" asp-for="Height" type="number" readonly />
                        </div>
                        <div class="form-group col-md-2">
                            <label class="pt-1" for="LastName">وزن</label>
                            <input class="form-control" asp-for="Weight" type="number" readonly />
                        </div>
                        <div class="form-group col-md-2">
                            <label class="pt-1" for="LastName">دور کمر</label>
                            <input class="form-control" asp-for="Waist" type="number" readonly />
                        </div>
                        <div class="form-group col-md-2">
                            <label class="pt-1" for="LastName">دور بازو</label>
                            <input class="form-control" asp-for="Biceps" type="number" readonly />
                        </div>
                        <div class="form-group col-md-2">
                            <label class="pt-1" for="LastName">دور سینه</label>
                            <input class="form-control" asp-for="Chest" type="number" readonly />
                        </div>
                        <div class="form-group col-md-2">
                            <label class="pt-1" for="LastName">دور ران</label>
                            <input class="form-control" asp-for="Thigh" type="number" readonly />
                        </div>
                        <div class="form-group col-md-2">
                            <label class="pt-1" for="LastName">دور مچ</label>
                            <input class="form-control" asp-for="Fist" type="number" readonly />
                        </div>

                    </fieldset>
                    <fieldset class="row p-3 mb-5">
                        <legend class="float-none w-auto"> اطلاعات حرکتی</legend>
                        <div class="form-group col-md-4">
                            <label class="pt-1" for="Gender">میزان فعالیت روزانه</label>
                            <input class="form-control" asp-for="DailyAvtivity.GetEnumDescription()" readonly />

                        </div>
                        <div class="form-group col-md-4">
                            <label class="pt-1" for="Gender">آیا شغل شما در عصر و شب می باشد؟</label>
                            <input class="form-control" asp-for="NightWork.GetEnumDescription()" readonly />

                        </div>
                        <div class="form-group col-md-4">
                            <label class="pt-1" for="Gender">تعداد جلسات تمرین در هفته</label>
                            <input class="form-control" asp-for="SessionsInWeek.GetEnumDescription()" readonly />

                        </div>
                        <div class="form-group col-md-6">
                            <label class="pt-1" for="Gender">در صورتی که خارج از باشگاه فعالیت ورزشی دارید،نام ببرید</label>
                            <input class="form-control" asp-for="OutOfGymActivity" />
                        </div>

                    </fieldset>
                    <fieldset class="row p-3 mb-5">
                        <legend class="float-none w-auto"> اطلاعات بیماری</legend>
                        <div class="form-group col-md-4">
                            <label class="pt-1" for="Gender">آیا بیماری قلبی دارید؟</label>
                            <input class="form-control" asp-for="HeartDisease.GetEnumDescription()" readonly />

                        </div>
                        <div class="form-group col-md-4">
                            <label class="pt-1" for="Gender">آیا دیابت،آسم و یا قند خون دارید؟</label>
                            <input class="form-control" asp-for="DiabetesAsthmaHypoglycemia.GetEnumDescription()" readonly />

                        </div>
                        <div class="form-group col-md-4">
                            <label class="pt-1" for="Gender">آیا سیگاری می باشد؟</label>
                            <input class="form-control" asp-for="Smoke.GetEnumDescription()" readonly />

                        </div>

                        <div class="form-group col-md-6">
                            <label class="pt-1" for="Gender">در صورتی که بیماری خاصی دارید،نام ببرید</label>
                            <input class="form-control" asp-for="Disease" readonly />
                        </div>
                        <div class="form-group col-md-6">
                            <label class="pt-1" for="Gender">در صورتی که تحت درمان هستید،نام ببرید</label>
                            <input class="form-control" asp-for="Treated" readonly />
                        </div>
                        <div class="form-group col-md-6">
                            <label class="pt-1" for="Gender">در صورتی که دارویی مصرف می کنید،نام ببرید</label>
                            <input class="form-control" asp-for="Medicine" readonly />
                        </div>
                        <div class="form-group col-md-6">
                            <label class="pt-1" for="Gender">در صورتی که صدمه دیدگی دارید،نام ببرید</label>
                            <input class="form-control" asp-for="Injury" readonly />
                        </div>
                    </fieldset>
                    <fieldset class="row p-3 mb-5">
                        <legend class="float-none w-auto"> اطلاعات بیماری</legend>

                        <div class="form-group col-md-3">
                            <label class="pt-1" for="Gender">تصویر از رو به رو</label>
                            <div>
                                <input type="file" name="FrontPic" accept="image/*" />
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label class="pt-1" for="Gender">تصویر از پشت</label>
                            <div>
                                <input type="file" name="BackPic" accept="image/*" />
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label class="pt-1" for="Gender">تصویر از پهلو چپ</label>
                            <div>
                                <input type="file" name="LeftPic" accept="image/*" />
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label class="pt-1" for="Gender">تصویر از پهلو راست</label>
                            <div>
                                <input type="file" name="RightPic" accept="image/*" />
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="row p-3 mb-5">
                        <legend class="float-none w-auto">دیدگاه و انتظارات</legend>
                        <textarea asp-for="Expection" rows="4" class="form-control" readonly></textarea>

                    </fieldset>

                </div>
            </div>
            <!-- /.card -->
        </div>



    </div>
</section>
