@model List<Mogym.Application.Records.Permission.PermissionRecord>
@{

    var options=new SelectList(Model, "Id", "PersianName");
}

<label class="pt-1">دسترسی ها</label>
<select name="PermissionParentId" asp-items="@options" class="js-example-disabled-results form-control"></select>
