<section class="content">
    <div class="container-fluid">
        <div class="row py-1 d-flex justify-content-center personal-needs">

            
            <div class="col py-2 my-1 mx-2">
                <div class="card-stats my-classes">
                    @*                    <div class="card-icon bg-c-yellow">
                        <img src="./img/teacher.png" width="60" />
                    </div>*@
                    <div class="title"> <p>فرم های ارسال شده شاگرد حضوری</p></div>
                    <div class="footer"></div>
                </div>
                <a asp-controller="Plan" asp-action="AttendanceClientRequest" class="small-box-footer bg-c-yellow d-block p-2 text-center">برو به صفحه <i class="fas px-2  fa-arrow-circle-right"></i></a>
                
            </div>

            

            <div class="col py-2 my-1 mx-2">
                <div class="card-stats my-profile">
@*                    <div class="card-icon bg-c-puple">
                        <img src="./img/evaluation.png" width="60" />
                    </div>*@
                    <div class="title">
                        <p>پرداخت شده</p>
                        @*                                    @if (Model != 0)
                        {
                        <span class="badge bg-secondary badge bg-secondary p-2 mb-3 mx-3">@Model</span>
                        }*@

                    </div>
                </div>

                <a asp-controller="Plan" asp-action="PaidPlans" class="small-box-footer bg-c-puple d-block p-2 text-center">برو به صفحه<i class="fas px-2 fa-arrow-circle-right"></i></a>

            </div>




            <div class="col py-2 my-1 mx-2">
                <div class="card-stats my-exam">
@*                    <div class="card-icon bg-c-green">
                        <img src="./img/test.png" width="60" />
                    </div>*@
                    <div class="title"> <p>تائید شده</p></div>
                </div>
                <a asp-controller="Plan" asp-action="ApprovePlans" class="small-box-footer bg-c-green d-block p-2 text-center">برو به صفحه <i class="fas px-2  fa-arrow-circle-right"></i></a>
            </div>



            <div class="col py-2 my-1 mx-2">
                <div class="card-stats my-profile">
@*                    <div class="card-icon bg-c-pink">
                        <img src="./img/user.png" width="60" />
                    </div>*@
                    <div class="title"> <p>ارسال شده</p></div>
                </div>
                <a asp-controller="Plan" asp-action="SentPlans" class="small-box-footer bg-c-pink d-block p-2 text-center">برو به صفحه<i class="fas px-2 fa-arrow-circle-right"></i></a>

            </div>








        </div>
    </div>
</section>
