@{

    ViewBag.Title = "تغییر پسورد";
    Layout = "_Layout";
}
<section class="content">
    <form asp-action="ChangePassword" method="post" class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <!-- Default box -->
                <div class="card" id="change-password">
                    <div class="card-header bg-success-card">
                        <h3 class="card-title">تغییر پسورد</h3>
                    </div>
                    <div class="card-body py-5">
                        <p>
                            <label for="password">پسورد جدید</label>
                            <input id="password" name="passsword" type="password" class="col-md-6">

                            <span class="validation">
                                لطفا پسورد وارد شده:
                                <br>حداقل ۵ کاراکتر داشته باشد<br>
@*                                حداقل یک حروف بزرگ داشته باشد<br>
                                حداقل یک  عدد داشته باشد*@
                            </span>
                            <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                        </p>
                        @*                        <p>
                            <label for="confirm_password">تکرار پسورد</label>
                            <input id="confirm_password" name="confirm_password" type="password" class="col-md-6">
                            <span class="validation1">لطفا دوباره پسورد را تکرار کنید</span>
                        </p>*@
                    </div>
                    <div class="card-footer">
                        <div class="form-group row">
                            <div class="form-actions-buttons col-md-3">
                                <button type="submit" class="btn btn-success-card"> ثبت</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>



