@model Mogym.Application.Records.User.ConfirmRegisterRecord
@using (Html.BeginForm("ConfirmRegister", "Account", null, FormMethod.Post))
{
    @Html.HiddenFor(x=>x.Mobile)
    @Html.TextBoxFor(x => x.ConfirmCode)
    @Html.ValidationMessageFor(x => x.ConfirmCode)
    <br />
    <input type="submit" value="ارسال کد" />

    <p style="color: red">@ViewBag.ErrorMessage</p>
}