@using Mogym
@inject IHttpContextAccessor _accessor;


@*@model int*@
@{
    ViewData["Title"] = "داشبورد";
    Layout = "_Layout";
    var roleName = _accessor.GetCurrentUserRoleName();

}



<div class="l-main page-home" data-has-custom-functions="true">
    <div class="dashboard-index">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark text-right">داشبورد برنامه ها</h1>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div>
        </div>
        <!-- Main content -->
        @{
            if (roleName.Equals("Trainer"))
            {
                 @Html.Partial("_IndexTrainer");
            }
            else if (roleName.Equals("Athlete"))
            {
                @Html.Partial("_IndexAthlete")
                
            }

        }




    </div>
</div>


