@model Mogym.Application.Records.User.LoginRecord
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ورود - موجیم</title>
    <link rel="stylesheet" href="http://mogym.ir/assets/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="http://mogym.ir/assets/lib/fontawesome-free/css/all.min.css" />
    <link rel="stylesheet" href="http://mogym.ir/assets/css/login.css" />
</head>
<body>
    @await Html.PartialAsync("_Header")
    <section class="gradient-form" style="background-color: #eee;">
        <div class="h-100 login-page">
            <div class="card rounded-3 h-100 text-black">
@*                <div class="video-bg">
                    <video id="video-cover" autoplay muted loop controls>
                        <source src="/video/295.mp4" type="video/mp4">
                    </video>
                </div>*@
                <div class="over-lay-filter"></div>
                <div class="login-section">
                    <div class="card-body py-xxl-4">
                        <svg b-4r01060ysg="" class="mb-1" width="128" height="48" viewBox="0 0 128 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path b-4r01060ysg="" fill-rule="evenodd" clip-rule="evenodd" d="M39.0002 38.1085H37.7886V39.3218H39.0002V38.1085ZM106.74 38.14H105.528V39.3533H106.74V38.14ZM77.1432 41.9777C77.128 41.1315 76.8361 40.3137 76.3124 39.6496C75.7887 38.9854 75.0619 38.5115 74.2435 38.3005C73.4251 38.0895 72.5602 38.153 71.7813 38.4813C71.0024 38.8096 70.3525 39.3846 69.9311 40.1182C69.5097 40.8518 69.3401 41.7035 69.4483 42.5428C69.5565 43.3821 69.9365 44.1628 70.5301 44.7652C71.1236 45.3675 71.8981 45.7584 72.7347 45.8779C73.5713 45.9974 74.424 45.8389 75.162 45.4267L75.2742 45.3638L75.7364 45.903H76.7753L75.9092 44.8919L76.0124 44.7886C76.3771 44.4182 76.6648 43.979 76.8589 43.4965C77.053 43.0141 77.1497 42.4978 77.1432 41.9777ZM75.2967 43.8988L75.1755 44.0381L74.471 43.2157H73.4321L74.554 44.5077L74.3543 44.5953C73.9993 44.7452 73.6177 44.8217 73.2324 44.82C72.6689 44.8339 72.114 44.679 71.6389 44.3751C71.1638 44.0713 70.7901 43.6324 70.5656 43.1145C70.3411 42.5967 70.2761 42.0236 70.3788 41.4685C70.4815 40.9134 70.7474 40.4017 71.1423 39.9989C71.5372 39.596 72.0432 39.3204 72.5955 39.2072C73.1477 39.0941 73.7212 39.1486 74.2423 39.3638C74.7635 39.579 75.2086 39.9451 75.5208 40.4151C75.8329 40.8852 75.9978 41.4379 75.9944 42.0024C75.9988 42.6983 75.7509 43.3721 75.2967 43.8988ZM4.71852 40.4835C4.71852 39.6252 4.3685 38.9376 3.72904 38.5467C3.30723 38.2973 2.80015 38.2074 1.79497 38.2074H0V45.7817H1.14429V42.7686H1.77253C2.86746 42.7686 3.34313 42.69 3.75821 42.4406C4.3528 42.0743 4.71852 41.3216 4.71852 40.4835ZM1.73214 41.7013H1.14654V39.2769H1.79497C2.88765 39.2769 3.56525 39.4791 3.56525 40.4925C3.56525 41.3418 3.0335 41.6901 1.73214 41.6901V41.7013ZM11.4474 41.3418V40.1757C10.1303 40.2094 9.79604 41.0924 9.79604 41.0924V40.1757H8.81329V45.775H9.91271V42.8675C9.91271 41.9125 10.606 41.416 11.4474 41.3418ZM17.0904 40.2483C17.4514 40.1015 17.8382 40.0287 18.2279 40.0341C19.9039 40.0341 21.1178 41.3059 21.1156 43.0585C21.1187 43.1878 21.1105 43.3171 21.0909 43.4449H16.4441C16.4441 43.4449 16.5922 44.9279 18.2795 44.9279C18.5383 44.9446 18.7973 44.9003 19.0358 44.7984C19.2743 44.6966 19.4856 44.54 19.6527 44.3414H20.9002C20.4357 45.4267 19.2914 45.9143 18.3132 45.9143C16.6169 45.9143 15.2707 44.629 15.2707 42.9933C15.2656 42.6031 15.3386 42.2158 15.4854 41.8543C15.6322 41.4928 15.8499 41.1644 16.1255 40.8886C16.4012 40.6127 16.7293 40.395 17.0904 40.2483ZM18.2481 41.0205C16.7067 41.0205 16.3925 42.5057 16.3925 42.5057L20.0902 42.5147L20.0431 42.317C19.8366 41.4811 19.2017 41.0205 18.2481 41.0205ZM31.5241 40.0341C31.1803 40.0116 30.8364 40.0783 30.5259 40.2279C30.2154 40.3775 29.9487 40.6049 29.7516 40.8879L29.6147 41.0722L29.4913 40.8767C29.1166 40.2858 28.6365 40.0341 27.8871 40.0341C26.5005 40.0341 26.1908 41.0093 26.1908 41.0093V40.1712H25.2081V45.7705H26.3075V43.0135C26.3075 41.8159 26.7832 40.9913 27.6201 41.0183C28.5176 41.052 28.9304 41.5306 28.9304 42.6832V45.7705H30.0321V43.0135C30.0321 41.6137 30.4359 41.0183 31.3783 41.0183C32.2444 41.0183 32.646 41.5463 32.646 42.6832V45.7705H33.7476V42.5057C33.7544 40.8453 33.0252 40.0341 31.5241 40.0341ZM37.8447 40.1712H38.9441V45.7705H37.8447V40.1712ZM58.5002 40.0341C58.1564 40.0114 57.8124 40.078 57.5019 40.2276C57.1913 40.3772 56.9246 40.6047 56.7277 40.8879L56.5909 41.0722L56.4674 40.8767C56.0927 40.2858 55.6126 40.0341 54.8632 40.0341C53.425 40.0341 53.1669 40.9621 53.1669 40.9621V40.1712H52.1864V45.7705H53.2859V43.0135C53.2859 41.8159 53.6987 41.0362 54.5984 41.0183C55.4982 41.0003 55.9088 41.5148 55.9088 42.6832V45.7705H57.0082V43.0135C57.0082 41.6137 57.4143 41.0183 58.3544 41.0183C59.2205 41.0183 59.6221 41.5463 59.6221 42.6832V45.7705H60.7238V42.5057C60.7305 40.8453 60.0013 40.0341 58.5002 40.0341ZM43.7848 45.0296C44.2584 45.5034 44.9003 45.7699 45.5697 45.7705C46.2388 45.7693 46.8802 45.5026 47.3533 45.0288C47.8264 44.555 48.0927 43.9127 48.0939 43.2427V40.1712H46.99V43.2427C46.9754 43.6104 46.8193 43.9582 46.5543 44.2132C46.2894 44.4683 45.9361 44.6107 45.5686 44.6107C45.2011 44.6107 44.8479 44.4683 44.5829 44.2132C44.318 43.9582 44.1618 43.6104 44.1472 43.2427V40.1712H43.0433V43.2427C43.0445 43.9131 43.3111 44.5557 43.7848 45.0296ZM93.2217 40.0341C94.8618 40.0341 95.3106 40.9891 95.3106 40.9891V40.1712H96.2955V45.775H95.3106V45.0784C95.3106 45.0784 94.716 45.9143 93.1902 45.9143C91.5568 45.9143 90.3721 44.7077 90.3721 42.9933C90.3721 41.2789 91.5815 40.0341 93.2217 40.0341ZM92.6497 44.8065C92.8862 44.8975 93.1391 44.9381 93.3922 44.9256C94.4961 44.9256 95.2679 44.1707 95.2679 43.0135C95.2679 41.8564 94.4669 41.0183 93.372 41.0183C92.2771 41.0183 91.4828 41.8609 91.4828 43.0248C91.4719 43.2783 91.5139 43.5313 91.6061 43.7676C91.6984 44.0039 91.8388 44.2184 92.0185 44.3972C92.1982 44.5761 92.4132 44.7155 92.6497 44.8065ZM101.483 38.1962H100.384V45.7705H101.483V38.1962ZM105.573 40.1712H106.673V45.7705H105.573V40.1712ZM113.2 38.1962H112.1V40.1734H110.774V41.1463H112.1V45.7705H113.2V41.1463H114.476V40.1734H113.2V38.1962ZM121.306 43.609L122.803 40.1734H123.965L120.689 47.7477H119.511L120.68 45.056L118.564 40.1734H119.837L121.306 43.609ZM85.169 43.2427C85.169 43.6199 85.0193 43.9817 84.753 44.2484C84.4866 44.5151 84.1254 44.665 83.7487 44.665C83.372 44.665 83.0108 44.5151 82.7444 44.2484C82.4781 43.9817 82.3284 43.6199 82.3284 43.2427V40.1712H81.2245V43.2427C81.2441 43.9004 81.5188 44.5245 81.9902 44.9828C82.4617 45.441 83.0928 45.6973 83.7498 45.6973C84.4068 45.6973 85.038 45.441 85.5095 44.9828C85.9809 44.5245 86.2555 43.9004 86.2751 43.2427V40.1712H85.169V43.2427Z" fill="#6A6B6E"></path>
                            <path b-4r01060ysg="" d="M128 4.0847C127.986 3.00594 127.56 1.97549 126.814 1.21262C126.068 0.449744 125.06 0.0146791 124.005 0H123.892C122.833 0.0253375 121.825 0.473389 121.085 1.24836C120.344 2.02334 119.93 3.06373 119.93 4.14711C119.93 5.23049 120.344 6.27089 121.085 7.04586C121.825 7.82083 122.833 8.26888 123.892 8.29422H124.005C125.059 8.27726 126.066 7.84146 126.812 7.07908C127.557 6.31669 127.983 5.28756 128 4.20952V4.09378V4.0847ZM127.334 4.20271C127.324 5.04219 127.015 5.84903 126.464 6.47199L125.721 5.28515C125.571 5.04498 125.393 4.8247 125.19 4.62933C125.117 4.5647 125.037 4.50768 124.953 4.45914C125.28 4.40974 125.584 4.25747 125.823 4.02344C126.05 3.77901 126.174 3.45281 126.167 3.11572C126.169 2.84756 126.097 2.58416 125.96 2.35551C125.834 2.13511 125.638 1.9648 125.406 1.87216C125.088 1.76983 124.755 1.72453 124.422 1.73827H122.27V6.68984H123.009V4.5431H123.674C123.787 4.54041 123.899 4.54724 124.01 4.56352C124.105 4.58882 124.196 4.63024 124.278 4.68606C124.395 4.77236 124.496 4.87735 124.58 4.99696C124.739 5.20905 124.887 5.42946 125.024 5.65732L125.667 6.68984H126.244C125.764 7.1477 125.164 7.45337 124.517 7.56989C123.87 7.68642 123.204 7.6088 122.599 7.34643C121.994 7.08406 121.477 6.64818 121.109 6.09148C120.741 5.53478 120.539 4.88112 120.527 4.20952V4.10286C120.527 3.18143 120.885 2.29773 121.523 1.64618C122.16 0.994629 123.024 0.628592 123.925 0.628592C124.826 0.628592 125.691 0.994629 126.328 1.64618C126.965 2.29773 127.323 3.18143 127.323 4.10286V4.21859L127.334 4.20271ZM125.288 3.52192C125.207 3.64702 125.088 3.74058 124.948 3.78743C124.738 3.85331 124.518 3.88246 124.298 3.87366H123.015V2.38274H124.458C124.718 2.35776 124.977 2.43037 125.188 2.58698C125.261 2.65145 125.319 2.73181 125.357 2.82215C125.395 2.91248 125.414 3.01048 125.41 3.10892C125.414 3.25158 125.376 3.39211 125.301 3.51285L125.288 3.52192Z" fill="#6A6B6E"></path>
                            <path b-4r01060ysg="" d="M115.269 22.1288L121.696 13.0578L123.325 10.7667H112.924L109.553 16.1572L106.18 10.76H105.367H98.7462H95.912L97.5447 13.0578L101.857 19.143L103.968 22.1221L95.0474 34.5218H97.8007H104.956L109.56 28.1739L114.164 34.5218H124.189L115.269 22.1288Z" fill="#ED1C24"></path>
                            <path b-4r01060ysg="" d="M81.8074 20.3281C82.1705 13.0776 75.3728 9.74059 69.0683 11.0324C67.8223 11.2287 66.6321 11.6873 65.5764 12.3779L65.5562 10.8081H57.1628V34.746H65.8498V20.5389C65.8498 20.0609 65.9439 19.5876 66.1267 19.146C66.3095 18.7044 66.5775 18.3032 66.9152 17.9652C67.253 17.6272 67.654 17.3591 68.0953 17.1762C68.5367 16.9932 69.0097 16.8991 69.4874 16.8991C69.965 16.8991 70.4381 16.9932 70.8794 17.1762C71.3207 17.3591 71.7217 17.6272 72.0595 17.9652C72.3973 18.3032 72.6652 18.7044 72.848 19.146C73.0308 19.5876 73.1249 20.0609 73.1249 20.5389V34.746H81.8096V20.3281H81.8074Z" fill="#ED1C24"></path>
                            <path b-4r01060ysg="" d="M28.6935 34.746L23.9116 25.5329C22.0101 21.9131 19.0873 21.5793 19.0873 21.5793C20.2186 21.3587 21.3088 20.9627 22.3184 20.4055C23.5134 19.6924 24.5119 18.6914 25.2233 17.4935C25.9205 16.2929 26.2735 14.8683 26.2735 13.2084C26.2735 11.3134 25.8155 9.70433 24.8993 8.38124C24.0237 7.09441 22.7428 6.13924 21.2615 5.66861C19.7614 5.17581 17.5902 4.93015 14.7479 4.93165H0V34.746H8.66101V22.2692H9.47438C10.2774 22.2589 11.0638 22.4992 11.7245 22.9569C11.9196 23.1067 12.0973 23.278 12.2541 23.4676C12.4319 23.6811 12.5961 23.9055 12.7457 24.1396C12.8061 24.2225 12.8575 24.3121 12.9111 24.3972C13.0697 24.6772 13.2485 24.955 13.387 25.2439L18.303 34.7348L28.6935 34.746ZM17.0315 13.8715C17.0315 14.6753 16.713 15.4461 16.146 16.0145C15.5791 16.5829 14.8101 16.9022 14.0082 16.9022H8.65654V10.8408H14.0082C14.8101 10.8408 15.5791 11.1601 16.146 11.7284C16.713 12.2968 17.0315 13.0677 17.0315 13.8715Z" fill="#ED1C24"></path>
                            <path b-4r01060ysg="" fill-rule="evenodd" clip-rule="evenodd" d="M45.3453 16.9761H36.2429V26.0641V34.0768C35.961 34.0768 27.3485 30.8713 27.3485 21.5179C27.3501 18.2612 28.5475 15.1179 30.7146 12.6816C32.8817 10.2452 35.8685 8.68451 39.1108 8.29419L45.3453 16.9761ZM36.2429 26.0641L42.4775 34.746C45.7218 34.3587 48.7112 32.7991 50.8803 30.3623C53.0494 27.9256 54.2478 24.7806 54.2487 21.5223C54.2487 12.1689 45.6362 8.9634 45.3543 8.9634V26.0641H45.3453H36.2429Z" fill="#ED1C24"></path>
                            <path b-4r01060ysg="" fill-rule="evenodd" clip-rule="evenodd" d="M84.5114 0H93.2539V8.1787H84.5114V0ZM84.5114 10.8721H93.2539V34.7461H84.5114V10.8721Z" fill="#ED1C24"></path>
                        </svg>
                        <h4 class="my-xxl-4 my-xl-2 pb-1">ورود و ثبت نام</h4>
                    </div>
                    <form asp-action="Login" method="post">
                        <input type="hidden" name="ReturnUrl" id="ReturnUrl" />
                        <p>لطفا برای ورود یا ثبت نام شماره موبایل خود را وارد کنید</p>

                        <div class="form-floating mb-4">
                            <label asp-for="Mobile" class="d-flex align-items-center py-0">شماره موبایل</label>
                            <input asp-for="Mobile" type="number" class="form-control fs-13px h-45px" id="" placeholder="09*********" required>
                            <span asp-validation-for="Mobile" class="text-danger"></span>
                        </div>
                        <div class="row login-button">
                            <div class="text-center py-1 my-3 w-100 button">
                                <button type="submit" class="btn btn-danger btn-block fa-lg gradient-custom-2 mb-3 p-3 border-0 w-100">ورود</button>
                            </div>
                            <div class="text-center pt-1 mb-5 pb-1 w-100 div-pass">
                                <a asp-controller="Account" asp-action="ForgetPassword" class="text-muted" >پسورد خود را فراموش کرده اید؟</a>
                            </div>
                        </div>


                    </form>
                </div>

            </div>
        </div>
    </section>
    <script src="http://mogym.ir/assets/lib/jquery/dist/jquery.min.js"></script>
    <script src="http://mogym.ir/assets/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await Html.PartialAsync("_Footer")
</body>
</html>