@model Mogym.Application.Records.User.RegisterUserRecord
@using (Html.BeginForm("RegisterUser","Account",null,FormMethod.Post))
{
    @Html.TextBoxFor(x => x.Mobile)
    @Html.ValidationMessageFor(x => x.Mobile)
    <br />
    <input type="submit" value="OK" />

    <p style="color: red">@ViewBag.ErrorMessage</p>
}