@using Mogym
@using Mogym.Common
@model Mogym.Application.Records.Profile.SignUpTrainerRecord

@{
    ViewBag.Title = "ثبت نام مربی";
    Layout = "_AnanymousLayout";
}


<section class="content card-custome">
    <form asp-action="SignUpTrainer" method="post" class="container-fluid" id="form-signupTrainer" enctype="multipart/form-data">
@*         <input asp-for="QuestionId" type="hidden" />
 *@        <div class="row">

            <div class="col-md-12">
                <!-- Default box -->
                <div class="card">
                    <div class="card-header bg-b-yellow">
                        <h3 class="card-title">ثبت نام مربی</h3>
                    </div>
                    <div class="card-header">
                        <h5 class="card-title" style="color: red">نکته: پر کردن گزینه هایی که * دارند اجباری می باشد</h5>
                    </div>
                    <div class="card-body row py-5">

                        <fieldset class="row p-3 mb-5">
                            <legend class="float-none w-auto"> اطلاعات شخصی </legend>
                            <div class="form-group col-md-6">
                                <label class="pt-1" for="FirstName">نام</label><span style="color: red">*</span>
                                <input class="form-control" asp-for="FirstName"  />
                                <span class="text-danger"></span>
                                <div>
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="pt-1" for="LastName">نام خانوادگی</label><span style="color: red">*</span>
                                <input class="form-control" asp-for="LastName"  />
                                <span class="text-danger"></span>
                                <div>
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="pt-1" for="Gender">جنسیت</label><span style="color: red">*</span>
                                <select class="js-example-disabled-results form-control" asp-for="Gender">
                                    <option value="@null">جنسیت را انتخاب کنید</option>
                                    @foreach (EnumGender itm in Enum.GetValues(typeof(EnumGender)))
                                    {
                                        <option value="@((int) itm)">@itm.GetEnumDescription()</option>
                                    }
                                </select>
                                <span class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="pt-1" for="LastName">موبایل</label>
                                <input class="form-control" asp-for="Mobile" readonly />
                                <span class="text-danger"></span>
                                <div>
                                    <span asp-validation-for="Mobile" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group col-md-6">
                                <label class="pt-1" for="LastName">نام کاربری</label><span style="color: red">*</span>
                                <input class="form-control" asp-for="UserName"  />
                                <span class="text-danger">نام کاربری شامل حروف و اعداد انگلیسی باشد</span>
                                <span class="text-danger"></span>
                                <div>
                                    <span asp-validation-for="UserName" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group col-md-6">
                                <label class="pt-1" for="Gender">تصویر کارت ملی</label><span style="color: red">*</span>
                                <div>
                                    <input type="file" name="NationalCartPic" accept="image/*" />
                                </div>
                            </div>

                        </fieldset>
                        <fieldset class="row p-3 mb-5">
                            <legend class="float-none w-auto"> تصاویر مدارک</legend>

                            <div class="form-group col-md-6">
                                <label class="pt-1" for="Gender">تصویر مدرک مربیگری</label><span style="color: red">*</span>
                                <div>
                                    <input type="file" name="TrainingCertificatePic" accept="image/*" />
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="pt-1" for="Gender">تصویر اشتغال به کار</label>
                                <div>
                                    <input type="file" name="WorkingCertificatePic" accept="image/*" />
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="pt-1" for="Gender">تصویر حکم قهرمانی</label>
                                <div>
                                    <input type="file" name="ChampCertificatePic1" accept="image/*" />
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="pt-1" for="Gender">تصویر حکم قهرمانی</label>
                                <div>
                                    <input type="file" name="ChampCertificatePic2" accept="image/*" />
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="pt-1" for="Gender">تصویر حکم قهرمانی</label>
                                <div>
                                    <input type="file" name="ChampCertificatePic3" accept="image/*" />
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="pt-1" for="Gender">تصویر مدرک تحصیلی</label>
                                <div>
                                    <input type="file" name="GraduationCertificatePic" accept="image/*" />
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label class="pt-1" for="Gender">تصویر کارت دانشجویی</label>
                                <div>
                                    <input type="file" name="StudingCertificatePic" accept="image/*" />
                                </div>
                            </div>
                            
                        </fieldset>
                        <fieldset class="row p-3 mb-5">
                            <div class="form-group col-md-6">
                                <input type="checkbox" class="custom-control-input" id="check-terms" asp-for="IsConfirm">
                                <label class="custom-control-label small-text" for="check-terms">من با <a asp-controller="Home" asp-action="Terms">قوانین و مقررات</a> .موافقم</label>
                                <div>
                                    <span asp-validation-for="IsConfirm" class="text-danger"></span>
                                </div>
                            </div>

                            
                        </fieldset>

                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <div class="form-group row">
                            <div class="col-md-9">
                                <p class="text-red text-right mt-2 font-weight-bold">@TempData["message"]</p>
                            </div>
                            <div class="form-actions-buttons col-md-12">
                                <input type="submit" value="ثبت" class="btn bg-success" />
                                <a asp-action="Index" asp-controller="Home" class="btn btn-secondary py-2">صفحه اصلی</a>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-footer-->
                </div>
                <!-- /.card -->
            </div>



        </div>
    </form>
</section>

<script>
    $(document).ready(function () {
        $.validator.addMethod("valueNotEquals", function (value, element, arg) {
            return arg !== value;
        }, 'کامل کردن این فیلد اجباری است.')

        $("#form-signupTrainer").validate({
            rules: {
                FirstName: {
                    required: true,
                    maxlength: 100
                },
                LastName: {
                    required: true,
                    maxlength: 100
                },
                UserName: {
                    required: true,
                    maxlength: 30
                },
                Gender: {
                    required: true
                },
                NationalCartPic: {
                    required: true
                },
                TrainingCertificatePic: {
                    required: true
                },
                Mobile: {
                    required: true,
                    maxlength: 11,
                    minlength: 11

                }
            },
            messages: {
                Gender: {
                    required: "جنسیت را مشخص کنید"
                },
                FirstName: {
                    required: "پر کردن نام  الزامی است",
                    maxlength: "نام  بیشتر از 100 کارکتر نباشد."
                },
                LastName: {
                    required: "پر کردن نام خانوادگی الزامی است",
                    maxlength: "نام خانوادگی بیشتر از 100 کارکتر نباشد."
                },
                UserName: {
                    required: "پر کردن نام کاربری الزامی است",
                    maxlength: "نام کاربری بیشتر از 30 کارکتر نباشد."
                },
                NationalCartPic: {
                    required: "پر کردن تصویر کارت ملی الزامی است"
                },
                TrainingCertificatePic: {
                    required: "پر کردن تصویر مدرک مربیگری الزامی است"
                },
                Mobile: {
                    required: "پر کردن موبایل الزامی است"
                }

            }
        })

    })
</script>

