<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:title" content="موجیم-قوانین و مقررات" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="http://mogym.ir/img/mogym-transparent.png" />
    <meta property="og:image:alt" content="موجیم تخصصی ترین مرجع تناسب اندام آنلاین" />
    <meta property="og:url" content="http://mogym.ir/" />




    <!--favicon icon-->
    <link rel="icon" href="~/img/favicon.ico" type="image/png" sizes="16x16">

    <!--title-->
    <title>موجیم-قوانین و مقررات</title>

    <!--build:css-->
    <link rel="stylesheet" href="~/mainassets/css/main.css">
    <!-- endbuild -->
</head>

<body>

    <!--preloader start-->
    <div id="preloader">
        <div class="preloader-wrap">
            <img src="~/mainassets/img/logo-color.png" alt="لوگو" class="img-fluid">
            <div class="thecube">
                <div class="cube c1"></div>
                <div class="cube c2"></div>
                <div class="cube c4"></div>
                <div class="cube c3"></div>
            </div>
        </div>
    </div>
    <!--preloader end-->
    <!--header section start-->
    <header class="header">
        <!--start navbar-->
        <nav class="navbar navbar-expand-lg fixed-top custom-nav">
            <div class="container">
                <a class="navbar-brand" asp-action="Index" asp-controller="Home">
                    <img src="~/img/mogym-transparent.png" alt="لوگو" class="img-fluid">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="ناوبری را تغییر دهید">
                    <span class="ti-menu"></span>
                </button>

                <div class="collapse navbar-collapse h-auto" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto menu">
                        <li><a asp-controller="Account" asp-action="Index" class="page-scroll">خانه</a></li>
                        <li><a asp-controller="Account" asp-action="Login" class="page-scroll">ورود/ثبت نام</a></li>
                        <li><a asp-controller="Home" asp-action="TrainerPanel" class="page-scroll">عضویت مربیان</a></li>
                        <li><a asp-controller="Home" asp-action="Trainers" class="page-scroll">مربیان</a></li>
                        <li><a asp-controller="Home" asp-action="ContactUs" class="page-scroll">ارتباط با ما</a></li>
                        <li><a asp-controller="Home" asp-action="Terms" class="page-scroll">قوانین و مقررات</a></li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>





    <!--header section end-->

    <div class="main">


        <!--page header section start-->
        <section class="page-header-section ptb-100 bg-image" image-overlay="8">
            <div class="background-image-wraper" style="background: url('~/mainassets/img/slider-bg-1.jpg'); opacity: 1;"></div>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-9 col-lg-7">
                        <div class="page-header-content text-white pt-4">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--page header section end-->
        <!--breadcrumb section start-->
        <div class="breadcrumb-bar gray-light-bg border-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="custom-breadcrumb">
                            <ol class="breadcrumb pl-0 mb-0 bg-transparent">
                                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">خانه</a></li>
                                <li class="breadcrumb-item active">قوانین و مقررات</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--breadcrumb section end-->

        <section class="ptb-100">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-9 col-lg-8">
                        <div class="section-heading mb-3 text-center">
                            <h2>قوانین و مقررات</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="single-faq mt-3">
                            <p>هر گونه استفاده از خدمات سایت موجیم به معنی پذیرفتن شرایط مندرج در سایت موجیم می‌باشد. سایت موجیم هیچ توافقی با مربیان و ورزشکاران خارج از این شرایط ندارد. شرایط و قوانین زیر مربوط به تمام مربیان و ورزشکارانی است که به هر شکلی با سایت موجیم همکاری و از خدمات آن استفاده می‌کنند.</p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="single-faq mt-3">
                            <p>
                                با توجه به اینکه هویت و اطلاعات ارائه شده توسط ورزشکاران به هیچ وجه قابل راستی آزمایی نمی‌باشد.،موجیم هیچ مسئولیت یا تعهدی در قبال اطلاعات ارائه شده توسط ورزشکاران از طریق ارسال درخواست معرفی مربی از طریق سایت ندارد.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="single-faq mt-3">
                            <p>
                                ورزشکار موظف است در صورتیکه بیماری و یا نقضی که منجر به صدمه در حرکات تمرینی و یا رژیم های غذایی و یا مکمل ها می باشد را حتما در فرم پرسشنامه آنلاین ذکر کند. در صورتی که این موارد گفته نشود و بعد از ارسال برنامه هر گونه صدمه ای با در نظر گرفتن عدم اعلام از سوی ورزشکار صورت پذیرد، مسئولیت کامل آن با ورزشکار است.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="single-faq mt-3">
                            <p>
                                تصاویر پروفایل مربیان باید طبق شئونات جامعه و در چارچوب قوانین کشور ایران باشد و موجیم این اختیار را دارد تا با تشخیص مغایرت تصویر پروفایلی با آنچه ذکر شده، تصویر مربوطه را در هر زمان حذف نماید.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="single-faq mt-3">
                            <p>
                                موجیم هیچ قرارداد، تعهدنامه یا سندی را با هیچ شخص حقیقی یا حقوقی در حوزه آموزش و طراحی برنامه منعقد نکرده است. مربیان سایت موجیم در هر لحظه قادر به ویرایش پروفایل خود هستند، بنابراین سایت موجیم هیچ‌گونه مسئولیتی در قبال هر نوع اطلاعات درج شده در پروفایل مربیان نخواهد داشت و صرفا مطالب درج شده توسط مربیان را نمایش می‌دهد.
                            </p>
                        </div>

                    </div>
                    <div class="col-md-12">
                        <div class="single-faq mt-3">
                            <p>
                                اکیدا لازم و ضروری است که مربی در خصوص تعهدات خود نسبت به ورزشکار پایبند باشد. پاسخ‌گویی به درخواست ورزشکار ، دریافت وجه به میزان توافق شده و سایر توافقات از جمله تعهدات مربی نسبت به ورزشکار می‌باشد.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="single-faq mt-3">
                            <p>
                                درصورت مشاهده تخلف یا تلاش برای سوءاستفاده از تضمین درستی رزومه‌ها، حق عدم پذیرش آن درخواست برای موجیم محفوظ است.موجیم می‌تواند در هر زمان به تشخیص خود شرایط تضمین‌ها را تغییر داده یا ارائه آن را متوقف کند. در موارد اختلاف، مدیریت موجیم تصمیم گیرنده نهایی خواهد بود.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="single-faq mt-3">
                            <p>
                                مربی موظف است اطلاعات پرسشنامه آنلاین طراحی شده در درخواست برنامه را کاملا چک کند و مطابق با آن برنامه های تمرینی و غذایی و مکمل را طراحی کند. مسئولیت هر گونه صدمه که با بی توجهی به موارد ذکر شده در پرسشنامه آنلاین صورت پذیرد با مربی می باشد.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="single-faq mt-3">
                            <p>
                                ارسال تصاویر بدن ورزشکار برای مربی صرفا برای بهتر شدن فرآیند طراحی برنامه می باشد و در ثبت آن هیچ اجباری وجود ندارد. لازم به ذکر است ارسال تصاویر بدن بانوان متاهل حتما باید با اجازه همسز باشد.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="single-faq mt-3">
                            <p>
                                .تصاویر بدن ورزشکار تنها برای مربی مربوط به پرسشنامه آنلاین نمایش داده می شود و هر گونه پخش یا تکثیر به هر نحوی بدون اجازه ورزشکار تبعات قانونی را برای مربی یا هر شخص تکثیر کننده به همراه دارد
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="single-faq mt-3">
                            <p>
                            شماره تماس ورزشکار و مربی در موجیم محفوظ می باشد و هرگونه ارتباط بین مربی و ورزشکار از طرق گفتگو متنی در وبسایت مقدور می باشد. مسئولیت هر گونه تبادل شماره موبایل بین ورزشکار و مربی با طرفین می باشد
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="single-faq mt-3">
                            <p>
                                هر گونه خرید و فروش دارو و مکمل در فضای موجیم ممنوع می باشد.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>





    </div>

    <!--footer section start-->
    <footer class="footer-1 ptb-60 gradient-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-4 mb-4 mb-md-4 mb-sm-4 mb-lg-0">
                    <a href="#" class="navbar-brand mb-2">
                        <img src="~/img/mogym-logo.png" class="img-fluid mb-3" alt="mogym">
                    </a>
                    <br>
                    <p>موجیم پلتفرم تخصصی تناسب اندام آنلاین می باشد. ما در این پلتفرم سعی کرده ایم امکاناتی را برای راحتی ارتباط مربیان با ورزشکاران عزیز فراهم کنیم تا به صورت آنلاین بتوانند به هدف خود برسند.به خود افتخار می کنیم که بهترین ها مارا انتخاب می کنند.</p>
                    <div class="list-inline social-list-default background-color social-hover-2 mt-2">
                        <li class="list-inline-item"><a class="instagram" href="https://instagram.com/mogym.ir"><i class="fab fa-instagram"></i></a></li>
                        <li class="list-inline-item"><a class="twitter" href="https://t.me/mogym"><i class="fab fa-telegram"></i></a></li>
                        <li class="list-inline-item"><a class="linkedin" href="https://www.linkedin.com/company/mogym-ir"><i class="fab fa-linkedin"></i></a></li>
                    </div>
                </div>
                <div class="col-md-12 col-lg-8">
                    <div class="row mt-0">
                        <div class="col-sm-6 col-md-3 col-lg-3 mb-4 mb-sm-4 mb-md-0 mb-lg-0">
                            <h6 class="text-uppercase">صفحات</h6>
                            <ul>
                                <li>
                                    <a asp-controller="Account" asp-action="Login">ورود</a>
                                </li>
                                <li>
                                    <a asp-controller="Home" asp-action="TrainerPanel">عضویت مربیان</a>
                                </li>
                                <li>
                                    <a asp-controller="Home" asp-action="Trainers">مربیان</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-3 mb-4 mb-sm-4 mb-md-0 mb-lg-0">
                            <h6 class="text-uppercase">عمومی</h6>
                            <ul>
                                <li>
                                    <a asp-controller="Home" asp-action="ContactUs">ارتباط با ما</a>
                                </li>

                                <li>
                                    <a asp-controller="Home" asp-action="Terms">قوانین و مقررات</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end of container-->
    </footer>


    <!--footer section end-->
    <!--scroll bottom to top button start-->
    <div class="scroll-top scroll-to-target primary-bg text-white" data-target="html">
        <span class="fas fa-hand-point-up"></span>
    </div>
    <!--scroll bottom to top button end-->
    <!--build:js-->
    <script src="~/mainassets/js/vendors/jquery-3.5.1.min.js"></script>
    <script src="~/mainassets/js/vendors/popper.min.js"></script>
    <script src="~/mainassets/js/vendors/bootstrap.min.js"></script>
    <script src="~/mainassets/js/vendors/jquery.easing.min.js"></script>
    <script src="~/mainassets/js/vendors/owl.carousel.min.js"></script>
    <script src="~/mainassets/js/vendors/countdown.min.js"></script>
    <script src="~/mainassets/js/vendors/jquery.waypoints.min.js"></script>
    <script src="~/mainassets/js/vendors/jquery.rcounterup.js"></script>
    <script src="~/mainassets/js/vendors/magnific-popup.min.js"></script>
    <script src="~/mainassets/js/vendors/validator.min.js"></script>
    <script src="~/mainassets/js/app.js"></script>
    <!--endbuild-->



</body>

</html>